
.modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-content {
    height: 100%;
}

.modal-footer {
    position: absolute;
    bottom: 0;
}